.streams {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 50% 50%;
}

.stream {
    position: relative;
    padding-bottom: 51%; /* 16:9 */
	padding-top: 25px;
    height: 0;
    margin: 2em;
}

.iframe {
    position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

@media (max-width: 1400px) {
    .streams {
        display: grid;
        grid-template-columns: 100%;
        grid-template-rows: 25% 25% 25% 25%;
    }
}