:root {
    --col-black: #221E1D;
    --col-white: #ECEAE0;
    --col-green: #63AA9C;
    --col-orange: #E9633B;
}

@font-face {
    font-family: 'Roboto Mono';
    src: url('Assets/Fonts/RobotoMono-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

* {
    box-sizing: border-box;
}

body {
    background: var(--col-white);
    display: flex;
    height: 100vh;
}

main {
    opacity: 0;
    margin: auto;
    width: 80%;
    font-family: 'Roboto Mono';
    color: var(--col-black);
}

.animate {
    animation-duration: .5s;
    animation-fill-mode: both;
}

.link {
    text-decoration: none;
    background-image: linear-gradient(to right, rgba(255,255,255,0) 50%, var(--col-orange) 50%);
    background-position: -0% 0;
    background-size: 200% auto;
    color: var(--col-black);
    line-height: 1.15em;
    text-decoration: none;
    transition: background-position 0.2s ease-out;
}   

.link:hover {
    background-position: -99.99% 0;
    color: var(--col-white)
}

@keyframes fadeInUp {

    from {
        opacity: 0;
        transform: translate3d(0, 10%, 0);
    }

    to {
        opacity: 1;
        transform: none;
    }

}
  
.fadeInUp {
    animation-name: fadeInUp;
}